/**
 * @file
 * Breadcrumb styles.
 */
.breadcrumb {
  background: transparent;
  line-height: 16px;
  margin: 0 0 3rem;
  padding: 0;
}

.breadcrumb li {
  border-right: 1px solid #707070;
  display: inline-block;
  padding: 0 10px;
}

.breadcrumb li:first-child {
  padding-left: 0;
}

.breadcrumb li:last-child {
  border: 0;
}

.breadcrumb li a,
.breadcrumb li span {
  color: #707070;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}
