.js .menu-dropdown a, 
.js .menu-dropdown a:focus, 
.js .menu-dropdown a:hover,
.js .menu-dropdown a:active {
  padding-right: 25px;
}

/*.js .menu-dropdown a.has-children:hover {
  padding-right: 10px;
}*/

@media (min-width: 48em) {
  .block-content .menu-dropdown a span.sub-arrow {
    right: 10px;
  }
  .menu-dropdown ul a, .menu-dropdown ul a:hover, .menu-dropdown ul a:focus, .menu-dropdown ul a:active, .menu-dropdown ul a.highlighted {
    padding: 1rem 1.25rem;
  }
}
