.view-content caption {
  caption-side: top;
  padding-left: 0;
}

.view-blog-post .views-field-name {
  margin-bottom: 20px;
}

.views-view-grid .views-row, 
.views-view-grid .views-grid-box {
  padding: 1rem;
  border: none;
}
 
.views-view-grid .views-grid-box.row-first {
  padding: 1rem 1rem 1rem 0;
}

.views-view-grid .views-grid-box.row-last {
  padding: 1rem 0 1rem 1rem;
}

.block-content .view-header {
  padding: 1rem;
}

.views-field {
  margin-bottom:  .5rem;
}

.views-exposed-widget .form-item {
  margin-bottom:  .5rem;
}

.views-exposed-form .views-exposed-widget.views-reset-button {
  display: block;
}

.views-exposed-form .views-exposed-widget {
  padding: 0;
}










