.view-content caption {
    caption-side: top;
    padding-left: 0;
}

.view-blog-post .views-field-name {
    margin-bottom: 20px;
}

.views-view-grid .views-row, 
.views-view-grid .views-grid-box {
    padding: 1rem;
    border: none;
}

.views-field {
    margin-bottom:  .5rem;
}








