.view-content caption {
  caption-side: top;
  padding-left: 0;
}

.view-content img {
  filter: drop-shadow(3px 2px 5px gray);
  margin-bottom: 1.3rem;
}

.view-blog-post .views-field-name {
  margin-bottom: 20px;
}

.views-view-grid .views-row, 
.views-view-grid .views-grid-box {
  padding: 1rem;
  border: none;
}

.block-content .view-header {
  padding: 1rem;
}

.views-field {
  margin-bottom:  .5rem;
}

.views-exposed-widget .form-item {
  margin-bottom:  .5rem;
}

.views-exposed-form .views-exposed-widget.views-reset-button {
  display: block;
}

.views-exposed-form .views-exposed-widget {
  padding: 0;
}

.view.container,
.view .views-view-grid {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.view-header {
  margin-bottom: 2rem;
}
