/* Info Blocks */

.block.info-block .block--inner-wrapper {
  display: grid;
  grid-template-columns: 36% 60%;
  column-gap: 4%;
  grid-template-rows: 50px auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.block.info-block .block-content,
.block.info-block article,
.block.info-block article .content {
	display: contents;
}

.block.info-block h2.block-title {
	grid-column: 1;
	margin-top: 0;
	margin-bottom: 1rem;
}

.node-info-block .field-name-field-info-block-leader {
	grid-column: 1;
}

.node-info-block .field-name-field-info-block-body {
	grid-row: 1/span 3;
	grid-column: 2;
	padding-top: 0;
}

@media (max-width: 900px) {
	.block.info-block .block--inner-wrapper {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 0%;
    grid-template-rows: auto;
	}

	.block.info-block h2.block-title,
	.node-info-block .field-name-field-info-block-leader,
	.node-info-block .field-name-field-info-block-body {
		grid-column: 1;
	}
}