/* 
 * These are the rules to manage the blocks on the front page only.
 */


.front div.flexible-row .no-container div.block,
.front .l-content div.block {
  min-height: 350px;
  align-items: center;
}

/* 
 * Background and text color in blocks
 */

.front .l-content div.block:nth-of-type(1) {
  background-color: white;
  color: black;
}

.front .flexible-row .no-container div.block:nth-of-type(3n+2),
.front .l-content div.block:nth-of-type(3n+2) {
  background-color: var(--color-three);
  color: var(--text-three);
}
.front .flexible-row .no-container div.block:nth-of-type(3n+3),
.front .l-content div.block:nth-of-type(3n+3) {
  background-color: var(--color-four);
  color: var(--text-four);
}
.front .flexible-row .no-container div.block:nth-of-type(3n+4),
.front .l-content div.block:nth-of-type(3n+4) {
  background-color: var(--color-five);
  color: var(--text-five);
}

.front div.flexible-row .no-container div.block:last-of-type,
.front .l-content div.block:last-of-type {
  background-color: white;
  color: black;
}

/* 
 * Color of links in blocks 
 */

.front .flexible-row .no-container div.block:nth-of-type(1) a,
.front .l-content div.block:nth-of-type(1) a {
  color: var(--menu-one);
}
.front .flexible-row .no-container div.block:nth-of-type(3n+2) a,
.front .l-content div.block:nth-of-type(3n+2) a {
  color: var(--link-three);
}
.front .flexible-row .no-container div.block:nth-of-type(3n+3) a,
.front .l-content div.block:nth-of-type(3n+3) a {
  color: var(--link-four);
}
.front .flexible-row .no-container div.block:nth-of-type(3n+4) a,
.front .l-content div.block:nth-of-type(3n+4) a {
  color: var(--link-five);
}

.front .flexible-row .no-container div.block:last-of-type a,
.front .l-content div.block:last-of-type a {
  color: var(--menu-one);
}

/* 
 * Other measurements 
 */

.front div.flexible-row .no-container div.block p:last-of-type,
.front .l-content div.block p:last-of-type {
  margin-bottom:  0;
}

.front .layout-front .l-header .block {
  padding: 0;
}

.front .layout-front .block-hero {
  margin: 0;
}

.front div.flexible-row div.block-hero-image,
.front .layout-front  .block-hero-image {
  min-height: 600px;
}

.front div.flexible-row div.block-hero-no-image,
.front .layout-front .block-hero-no-image {
  min-height: 600px;
}

.front div.flexible-row div.block .l-page-title,
.front .layout-front .l-page-title {
  padding: 0;
}

.front .block-title {
  text-align: center;
}