/* 
 * These are the rules to manage the blocks on the front page only.
 */

.layout--boxton.layout-front .l-content div.block:nth-of-type(1) {
  background-color: white;
  color: black;
}

.layout--boxton.layout-front .l-content div.block:nth-of-type(3n+2) {
  background-color: var(--color-three);
  color: var(--text-three);
}
.layout--boxton.layout-front .l-content div.block:nth-of-type(3n+3) {
  background-color: var(--color-four);
  color: var(--text-four);
}
.layout--boxton.layout-front .l-content div.block:nth-of-type(3n+4) {
  background-color: var(--color-five);
  color: var(--text-five);
}

.layout--boxton.layout-front .l-content div.block:nth-of-type(1) a {
  color: black;
}

.layout--boxton.layout-front .l-content div.block:nth-of-type(3n+2) a {
  color: var(--text-three);
}
.layout--boxton.layout-front .l-content div.block:nth-of-type(3n+3) a {
  color: var(--text-four);
}
.layout--boxton.layout-front .l-content div.block:nth-of-type(3n+4) a {
  color: var(--text-five);
}

.layout--boxton.layout.layout-front .l-content div.block:last-of-type {
  background-color: white;
  color: black;
}

