/*  
 * This file contains any css variables that we are setting 
 * for the theme. This file will also be overriden by the color module. 
 */

 /* Setting CSS Variables - Default */
 
:root {
  --menu-one: #b2bc20;

  --bg-button: #783949;
  --link-button: #b2cc22;

  --color-one: #793939;
  --text-one: #fff6ff;
  --link-one: #b2bc21;

  --color-navbar: #783939;
  --link-navbar: #b2cc21;

  --color-two: #f0f0c9;
  --text-two: #fff7ff;
  --link-two: #b2bc22;

  --color-three: #f2bb05;
  --text-three: #002002; 
  --link-three: #54a503;

  --color-four: #124e78;
  --text-four: #fff4ff;  
  --link-four: #b2bc24;

  --color-five: #d74e09;
  --text-five: #fffff5;
  --link-five: #b2bc25;
}

