/*  
 * This file contains any css variables that we are setting 
 * for the theme. This file will also be overriden by the color module. 
 */

 /* Setting CSS Variables - Default */
 
:root {
  --color-one: #6e0e0a;
  --text-one: #fff6ff;
  --link-one: #b2bc21;
  --color-two: #f0f0c9;
  --text-two: #002000;
  --link-two: #b2bc22;
  --color-three: #f2bb05;
  --text-three: #002002; 
  --link-three: #b2bc23;
  --color-four: #124e78;
  --text-four: #FFF4FF;  
  --link-four: #b2bc24;
  --color-five: #d74e09;
  --text-five: #fffff5;
  --link-five: #b2bc25;
}

