/**
 * Font related override utility classes
 */
.color-inverse {
  color: #ffffff;
}

.font-size-xxxxlarge {
  font-size: 2.625rem;
}

.font-size-xxxlarge {
  font-size: 2.25rem;
}

.font-size-xxlarge {
  font-size: 1.8125rem;
}

.font-size-xlarge {
  font-size: 1.625rem;
  font-weight: 400;
}

.font-size-large {
  font-size: 1.4375rem;
}

.font-size-medium {
  font-size: 1.25rem;
}

.font-size-normal {
  font-size: 1rem;
}

.font-size-small {
  font-size: 0.875rem;
}

.font-size-xsmall {
  font-size: 0.75rem;
}

.font-weight-bold {
  font-weight: 600;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-light {
  font-weight: 200;
}

.font-style-italic {
  font-style: italic;
}

.font-style-normal {
  font-style: normal;
}


\\ Numbers provided for groupings in UI
.opera-bg1-black {
  background-color: black !important;
}
.opera-bg1-blue {
  background-color: blue !important;
}
.opera-bg1-brown {
  background-color: brown !important;
}
.opera-bg1-firebrick {
  background-color: firebrick !important;
}
.opera-bg1-green {
  background-color: green !important;
}
.opera-bg1-indigo {
  background-color: indigo !important;
}
.opera-bg1-khaki {
  background-color: khaki !important;
}
.opera-bg2-lemonchiffon {
  background-color: lemonchiffon !important;
}
.opera-bg2-olive {
  background-color: olive !important;
}
.opera-bg2-orange {
  background-color: orange !important;
}
.opera-bg2-pink {
  background-color: pink !important;
}
.opera-bg2-red {
  background-color: red !important;
}
.opera-bg2-sienna {
  background-color: sienna !important;
}
.opera-bg3-silver {
  background-color: silver !important;
}
.opera-bg3-tan {
  background-color: tan !important;
}
.opera-bg3-teal {
  background-color: teal !important;
}
.opera-bg3-violet {
  background-color: violet !important;
}
.opera-bg3-white {
  background-color: white !important;
}
.opera-bg3-yellow {
  background-color: yellow !important;
}

/* text alignment */

.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}

/* margin related classes */

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}


/* padding related classes */

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-50 {
  padding-top: 50px;
}

/* border related classes */

.border {
  border: 1px solid #000;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

.border-top {
  border-top: 1px solid #000;
}

.border-gray {
  border: 1px solid #dee2ea;
}

.border-gray-bottom {
  border-bottom: 1px solid #dee2ea;
}

.border-gray-top {
  border-top: 1px solid #dee2ea;
}


/* flex box classes */

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-50 {
  gap: 50px;
}

.flex-basis {
  flex-basis: 1;
}

.flex-basis-half {
  flex-basis: 50%;
}

.flex-basis-200 {
  flex-basis: 200px;
}

.flex-basis-500 {
  flex-basis: 500px;
}

.flex-basis-700 {
  flex-basis: 700px;
}

/* text ellipses classes */

.text-ellipses-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipses-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

