// Colors
$black			:#000000;
$white			:#FFFFFF;

// Font Size
$font-x-lg	:56px;
$font-lg	:42px;
$font-x-md	:28px;
$font-md	:26px;
$font-x-sm	:22px;
$font-sm	:20px;
$font-x-tiny:18px;
$font-tiny	:16px;

// Media Screen
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 550px;
// Small tablets (portrait view)
$screen-md-max: 767px;
// Tablets and small desktops
$screen-lg-max: 991px;
// Large tablets and desktops
$screen-xl-max: 1199px;
